configuration {
  	kb-accept-entry: "Return,KP_Enter";  
  	kb-remove-char-back: "BackSpace";  
  	kb-mode-complete: "";  
  	kb-remove-to-eol: "";  

  	kb-row-up: "Up,Control+k";  
  	kb-row-down: "Down,Control+j";  
  	kb-row-left: "Control+h";  
  	kb-row-right: "Control+l";  
    timeout {
        action: "kb-cancel";
        delay:  0;
    }

    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@theme "~/.config/rofi/dmenu.rasi"
